# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env

# Data folder
data/

# docs
docs/M1P1/
docs/M2P2
docs/extra-notes.md
docs/assignments
docs/qa-cheatsheet.md
docs/notes-resolutions.md

# src files
src/outlier