# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env

# Data folder
data/

# docs
docs/M1P1/
docs/M2P2
docs/concrete-attack.md
docs/extra-notes.md
docs/assignments
docs/qa-cheatsheet.md
docs/notes-resolutions.md
docs/notesw3.md
docs/week3/oldslides
docs/week3/present.md
docs/week3/qa-prep.md

# src files


# src/outlier

# MLFlow
mlflow.db

# Node (pptxgenjs deck build dependency)
node_modules/
package-lock.json